<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<head>
	<title>AssessmentEngine</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
	<script
	  src="https://code.jquery.com/jquery-3.6.0.min.js"
	  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	   type="text/javascript"
	  crossorigin="anonymous"></script>
	  
	  <script src="{{ url_for('static', filename='js/assessmentScript.js') }}"></script>
</head>

<body onload="main();">
<div id="content">

{{formhtml}}

</div> <!--content-->

</body>
</html>
